<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">An application for resource-intensive computations using Ethereum, BigchainDB and IPFS.</p>
  <hr class="my-4">
  <p>A secure resource-intensive order_manager managed by Ethereum smart contracts and executed on Docker containers.</p>

  <h3>As a Container provider</h3>
  <ol>
    <li>
      Start a container
    </li>
    <li>
      Attach to the running container and run the <code>generateKeys.sh</code> script
    </li>
    <li>
      Exit from the container and copy the generated public key in the host machine locally
    </li>
    <li>
      Add the container's filesystem on IPFS
    </li>
    <li>
      Using the BlackboxChain dapp store the necessary information on the blockchain/BigchainDB
    </li>
  </ol>

  <strong>Required:</strong>
  <ul>
    <li>
      Docker container ID
    </li>
    <li>
      IPFS address of container's filesystem
    </li>
    <li>
      Container's public key
    </li>
    <li>
      Container's specification
    </li>
    <li>
      Usage cost (in Ether)
    </li>
  </ul>

  <h3>As a Software provider</h3>
  <ol>
    <li>
      Add software on IPFS
    </li>
    <li>
      Using the BlackboxChain dapp store the necessary information on the blockchain/BigchainDB
    </li>
  </ol>

  <strong>Required:</strong>
  <ul>
    <li>
      Software filename
    </li>
    <li>
      IPFS address of software
    </li>
    <li>
      Input parameter specification
    </li>
    <li>
      Software specification
    </li>
    <li>
      Usage cost (in Ether)
    </li>
  </ul>

  <h3>As a Dataset provider</h3>

  <ol>
    <li>
      Run <code>randomKeyGen.sh</code> to generate a one-time password
    </li>
    <li>Run <code>generateKeys.sh</code> to generate a private/public key pair</li>
    <li>
      Run <code>encryptLargeFile.sh</code> to encrypt the dataset with the one-time password
    </li>
    <li>
      Download a container's public key using the BlackboxChain dapp and run <code>encryptRandomKey.sh</code> to
      encrypt the one-time password with the container's public key
    </li>
    <li>
      Add the two encrypted files on IPFS
    </li>
    <li>
      Using the BlackboxChain dapp store the necessary information on the blockchain/BigchainDB
    </li>
  </ol>

  <strong>Required:</strong>
  <ul>
    <li>
      Name of the dataset
    </li>
    <li>
      IPFS address of the enrcypted dataset
    </li>
    <li>IPFS address of the encrypted one-time password</li>
    <li>Dataset specification</li>
    <li>Usage cost (in Ether)</li>
  </ul>

<h2>I want to..</h2>
  <h4>Perform a Computation</h4>
  <p>From the menu on top, click <strong>Computation</strong> and then:</p>
  <ol>
    <li>
      Upload your public key
    </li>
    <li>Select a software</li>
    <li>Select a dataset</li>
    <li>Select a container that will perform the computation</li>
  </ol>

  <p>Click <code>Run</code> in order to start the computation</p>

  <h4>Get the result</h4>

  <p>The result is encrypted with a one-time password, and the password is encrypted with the user's public key.</p>

  <p>To get the computation output, from the top menu, click <strong>Results</strong> and then:</p>

  <ol>
    <li>
      Run <code>getResult.sh</code> and give the displayed IPFS addresses
    </li>
    <li>The result is available in the <code>result.bin </code> file</li>
  </ol>

</div>
