<div class="container" >
  <h2> Container Details</h2>
  <form [formGroup]="containerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group row">
      <label for="containerDocID" class="col-sm-3 col-form-label" >Container Docker ID:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="containerDocID" formControlName="dockerID">
      </div>
    </div>

    <div class="form-group row">
      <label  for="publicKey" class="col-sm-3 col-form-label" >Public key:</label>
      <div class="col-sm-5">
        <input #pubFileInput type="file" id="publicKey" (change)="fileChange($event)" placeholder="Upload file">
      </div>
    </div>

    <div class="form-group row">
      <label for="cost" class="col-sm-3 col-form-label">Cost (in Ether):</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="cost" min="0" step="0.001" formControlName="cost">
      </div>
    </div>

    <div style="margin-bottom: 1em">
      <button type="submit"
              [disabled]="!containerForm.valid" class="btn btn-success">Save</button>&nbsp;
      <button type="reset" (click)="reset()" [disabled]="containerForm.pristine" class="btn btn-danger">Cancel</button>
    </div>
  </form>

  <span id="txStatus">{{getTxStatus()}}</span>
</div>
