<div class="container">
  <h3> Available software</h3>
  <div>
    <ul id="grouplist" class="list-group">
      <li style="cursor: pointer" class="list-group-item" *ngFor="let software of fetchedSoftware"
          [ngClass]="{'active': software == selectedSoftware}"
          (click)="setSelected(software)">
          Filename: <strong>{{software.filename}}</strong>
          <br/>
          Parameters description: {{software.paramType}}
          <br/>
          Description: {{software.description}}
          <br/>
          <strong>Cost (in ETH): </strong> {{software.cost}}
          <br/>
      </li>
    </ul>
  </div>
</div>
